<div class="content-wrapper container-fluid dnsmasq">
    <h3>
        Dnsmasq Log Monitoring And Analysis
        <mark ng-show="dnsmasq.dataOptions.pause"> pausing...</mark>
        <span class="pull-right">
            <a ng-click="dnsmasq.dataOptions.pause = !dnsmasq.dataOptions.pause"><span class="glyphicon" ng-class="dnsmasq.dataOptions.pause ? 'glyphicon-play' : 'glyphicon-pause'" aria-hidden="true"></span></a>
            <a ng-click="dnsmasq.dataOptions.settings = !dnsmasq.dataOptions.settings"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
            <span title="Start time" class="glyphicon glyphicon-time" aria-hidden="true"></span>: <small><span title="{{dnsmasq.startTime}}" am-time-ago="dnsmasq.startTime"></span></small>
        </span>
    </h3>

    <div class="row" ng-show="dnsmasq.dataOptions.settings">
        <div class="col-xs-12">
            <fieldset>
                <legend><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Settings</legend>
                <div class="col-xs-12 col-md-6">
                    <table class="table table-condensed table-bordered">
                        <caption>Ignored Nodes</caption>
                        <thead>
                            <tr class="info"><th>IP Address</th></tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="node in dnsmasq.ignores">
                                <td ng-bind="node"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div>Raw Data Line Limit: <input ng-model="dnsmasq.dataOptions.limit" /></div>
                    <div>Local Domain Name: <input ng-model="DomainName" /></div>
                    <div>IP Address Resolver Url: <input ng-model="HostnameResolveUrl" /></div>
                </div>
            </fieldset>
        </div>

        <div class="clearfix"></div>

        <hr />
    </div>

    <div class="row">
        <div class="col-xs-12" ng-show="OldDataLoadedCount != OldDataCount">
            <h6>Loading <span ng-bind="OldDataLoadedCount"></span> of <span ng-bind="OldDataCount"></span> lines...</h6>
        </div>

        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <table class="table table-condensed table-bordered">
                        <caption>
                            <span toggle-hidden options="dnsmasq.domainsOptions"></span>
                            Domains
                            <span class="pull-right">
                                <a title="Expand All" ng-click="dnsmasq.domainsOptions.expandAll = !dnsmasq.domainsOptions.expandAll"><span class="glyphicon" ng-class="dnsmasq.domainsOptions.expandAll ? 'glyphicon-minus' : 'glyphicon-plus'" aria-hidden="true"></span></a>
                                <a ng-click="dnsmasq.domainsOptions.searchShow = !dnsmasq.domainsOptions.searchShow" title="Search"><span class="glyphicon glyphicon glyphicon-search" aria-hidden="true"></span></a>
                                <input placeholder="search" ng-show="dnsmasq.domainsOptions.searchShow" ng-model="dnsmasq.domainsOptions.search" />
                                Nodes: <span ng-bind="dnsmasq.domains.length | number"></span>
                            </span>
                        </caption>
                        <thead ng-if="!dnsmasq.domainsOptions.hidden">
                            <tr class="info">
                                <th sort-direction options="dnsmasq.domainsOptions" order-by="key" title="Top Domains"></th>
                                <th sort-direction options="dnsmasq.domainsOptions" order-by="categories" title="Categories"></th>
                                <th sort-direction options="dnsmasq.domainsOptions" order-by="requestors" title="Requestors"></th>
                                <th sort-direction options="dnsmasq.domainsOptions" order-by="totalRequests" title="Requests"></th>
                                <th sort-direction options="dnsmasq.domainsOptions" order-by="lastRequestTime" title="Last Time"></th>
                            </tr>
                        </thead>
                        <tbody ng-if="!dnsmasq.domainsOptions.hidden">
                            <tr ng-repeat-start="domain in dnsmasq.domains | filter:dnsmasq.domainsOptions.search | orderBy:dnsmasq.domainsOptions.orderBy:dnsmasq.domainsOptions.orderReverse | limitTo: dnsmasq.domainsOptions.limitTo" class="animate-row">
                                <td>
                                    <a ng-click="domain.hidden = !domain.hidden"><span class="glyphicon" ng-class="domain.hidden && !dnsmasq.domainsOptions.expandAll ? 'glyphicon-triangle-right' : 'glyphicon-triangle-bottom'" aria-hidden="true"></span></a>
                                    <span ng-bind="domain.key"></span>
                                </td>
                                <td>
                                    <ul class="list-inline" ng-repeat="category in domain.categories">
                                        <li ng-class="dnsmasq.categoriesOptions.getClasses(category)" ng-bind="category"></li>
                                    </ul>
                                </td>
                                <td><span ng-bind="domain.requestors.length | number"></span></td>
                                <td><span ng-bind="domain.totalRequests | number" class="update-item value-{{domain.totalRequests}}"></span></td>
                                <td title="{{domain.lastRequestTime}}" am-time-ago="domain.lastRequestTime"></td>
                            </tr>
                            <tr ng-repeat-end ng-if="!domain.hidden && !dnsmasq.domainsOptions.expandAll">
                                <td colspan="5">
                                    <table class="table table-condensed table-bordered">
                                        <thead>
                                            <tr class="warning">
                                                <th sort-direction options="domain" order-by="key" title="Sub Domains"></th>
                                                <th sort-direction options="domain" order-by="totalRequestors" title="Requestors"></th>
                                                <th sort-direction options="domain" order-by="totalRequests" title="Requests"></th>
                                                <th sort-direction options="domain" order-by="lastRequestTime" title="Last Time"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat-start="record in domain.records | filter:dnsmasq.domainsOptions.search | orderBy:domain.orderBy:domain.orderReverse" class="animate-row">
                                                <td>
                                                    <a ng-click="record.hidden = !record.hidden"><span class="glyphicon" ng-class="record.hidden ? 'glyphicon-triangle-right' : 'glyphicon-triangle-bottom'" aria-hidden="true"></span></a>
                                                    <span ng-bind="record.key"></span>
                                                </td>
                                                <td><span ng-bind="record.totalRequestors | number" class="update-item value-{{record.totalRequestors}}"></span></td>
                                                <td><span ng-bind="record.totalRequests | number" class="update-item value-{{record.totalRequests}}"></span></td>
                                                <td title="{{record.lastRequestTime}}" am-time-ago="record.lastRequestTime"></td>
                                            </tr>
                                            <tr ng-repeat-end ng-if="!record.hidden">
                                                <td colspan="4">
                                                    <table class="table table-condensed table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th sort-direction options="record" order-by="key" title="Requestor"></th>
                                                                <th sort-direction options="record" order-by="totalRequests" title="Requests"></th>
                                                                <th sort-direction options="record" order-by="lastRequestTime" title="Last Time"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="requestor in record.records | orderBy:record.orderBy:record.orderReverse">
                                                                <td ng-bind="requestor.key"></td>
                                                                <td><span ng-bind="requestor.totalRequests | number" class="update-item value-{{requestor.totalRequests}}"></span></td>
                                                                <td title="{{requestor.lastRequestTime}}" am-time-ago="requestor.lastRequestTime"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    <div class="row">
                                        <div class="col-xs-4"></div>
                                        <div class="col-xs-4">
                                            <select ng-options="limit for limit in dnsmasq.limits"
                                                    ng-model="dnsmasq.domainsOptions.limitTo"></select>
                                        </div>
                                        <div class="col-xs-4">
                                            <span class="pull-right">View <span ng-bind="dnsmasq.domains.length <= dnsmasq.domainsOptions.limitTo ? dnsmasq.domains.length : dnsmasq.domainsOptions.limitTo"></span> of <span ng-bind="dnsmasq.domains.length | number"></span></span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-xs-12 col-md-4">
                    <table class="table table-condensed table-bordered">
                        <caption>
                            <span toggle-hidden options="dnsmasq.resolversOptions"></span>
                            Resolvers
                            <span class="pull-right">
                                <a ng-click="dnsmasq.resolversOptions.searchShow = !dnsmasq.resolversOptions.searchShow" title="Search"><span class="glyphicon glyphicon glyphicon-search" aria-hidden="true"></span></a>
                                <input placeholder="search" ng-show="dnsmasq.resolversOptions.searchShow" ng-model="dnsmasq.resolversOptions.search" />
                                Nodes: <span ng-bind="dnsmasq.resolvers | keylength | number"></span>
                            </span>
                        </caption>
                        <thead ng-if="!dnsmasq.resolversOptions.hidden">
                            <tr class="info">
                                <th sort-direction options="dnsmasq.resolversOptions" order-by="key" title="Resolver"></th>
                                <th sort-direction options="dnsmasq.resolversOptions" order-by="hostname" title="Hostname"></th>
                                <th sort-direction options="dnsmasq.resolversOptions" order-by="totalRequests" title="Requests"></th>
                            </tr>
                        </thead>
                        <tbody ng-if="!dnsmasq.resolversOptions.hidden">
                            <tr ng-repeat="resolver in dnsmasq.resolvers | filter:dnsmasq.resolversOptions.search | orderBy:dnsmasq.resolversOptions.orderBy:dnsmasq.resolversOptions.orderReverse" class="animate-row">
                                <td ng-bind="resolver.key"></td>
                                <td ng-bind="resolver.hostname ? resolver.hostname : resolver.key"></td>
                                <td><span ng-bind="resolver.totalRequests | number" class="update-item value-{{resolver.totalRequests}}"></span></td>
                            </tr>
                        </tbody>
                        <tfoot ng-if="!dnsmasq.resolversOptions.hidden">
                            <tr>
                                <td colspan="2" align="right">Total:</td>
                                <td><span ng-bind="dnsmasq.resolversOptions.sum.totalRequests | number" class="update-item value-{{dnsmasq.resolversOptions.sum.totalRequests}}"></span></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="col-xs-12 col-md-2">
                    <table class="table table-condensed table-bordered">
                        <caption>
                            <span toggle-hidden options="dnsmasq.categoriesOptions"></span>
                            Categories
                        </caption>
                        <thead ng-if="!dnsmasq.categoriesOptions.hidden">
                            <tr class="info">
                                <th sort-direction options="dnsmasq.categoriesOptions" order-by="name" title="Name"></th>
                                <th sort-direction options="dnsmasq.categoriesOptions" order-by="count" title="Count"></th>
                            </tr>
                        </thead>
                        <tbody ng-if="!dnsmasq.categoriesOptions.hidden">
                            <tr ng-repeat="category in dnsmasq.categories | orderBy:dnsmasq.categoriesOptions.orderBy:dnsmasq.categoriesOptions.orderReverse">
                                <td ng-class="dnsmasq.categoriesOptions.getClasses(category.name)" ng-bind="category.name"></td>
                                <td ng-bind="category.data | keylength | number"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-condensed table-bordered">
                        <caption>
                            <span toggle-hidden options="dnsmasq.queriesOptions"></span>
                            DNS Queries Summary
                            <span class="pull-right">
                                <a title="Expand All" ng-click="dnsmasq.queriesOptions.expandAll = !dnsmasq.queriesOptions.expandAll"><span class="glyphicon" ng-class="dnsmasq.queriesOptions.expandAll ? 'glyphicon-minus' : 'glyphicon-plus'" aria-hidden="true"></span></a>
                                <a ng-click="dnsmasq.queriesOptions.searchShow = !dnsmasq.queriesOptions.searchShow" title="Search"><span class="glyphicon glyphicon glyphicon-search" aria-hidden="true"></span></a>
                                <input placeholder="search" ng-show="dnsmasq.queriesOptions.searchShow" ng-model="dnsmasq.queriesOptions.search" />
                                Nodes: <span ng-bind="dnsmasq.queries | keylength | number"></span>
                            </span>
                        </caption>
                        <thead ng-if="!dnsmasq.queriesOptions.hidden">
                            <tr class="info">
                                <th sort-direction options="dnsmasq.queriesOptions" order-by="hostname" title="Node"></th>
                                <th sort-direction options="dnsmasq.queriesOptions" order-by="key" title="IP Address"></th>
                                <th sort-direction options="dnsmasq.queriesOptions" order-by="categories" title="Categories"></th>
                                <th sort-direction options="dnsmasq.queriesOptions" order-by="totalTopDomains" title="Top Domains"></th>
                                <th sort-direction options="dnsmasq.queriesOptions" order-by="totalDomains" title="Sub Domains"></th>
                                <th sort-direction options="dnsmasq.queriesOptions" order-by="totalRequests" title="Requests"></th>
                                <th sort-direction options="dnsmasq.queriesOptions" order-by="lastRequestTime" title="Last Time"></th>
                            </tr>
                        </thead>
                        <tbody ng-if="!dnsmasq.queriesOptions.hidden">
                            <tr ng-repeat-start="node in dnsmasq.queries | filter:dnsmasq.queriesOptions.search | orderBy:dnsmasq.queriesOptions.orderBy:dnsmasq.queriesOptions.orderReverse" class="animate-row">
                                <td>
                                    <a ng-click="node.hidden = !node.hidden"><span class="glyphicon" ng-class="node.hidden && !dnsmasq.queriesOptions.expandAll ? 'glyphicon-triangle-right' : 'glyphicon-triangle-bottom'" aria-hidden="true"></span></a>
                                    <span ng-bind="node.hostname ? node.hostname : node.key"></span>
                                </td>
                                <td ng-bind="node.key"></td>
                                <td>
                                    <ul class="list-inline" ng-repeat="category in node.categories">
                                        <li ng-class="dnsmasq.categoriesOptions.getClasses(category)" ng-bind="category"></li>
                                    </ul>
                                </td>
                                <td><span ng-bind="node.totalTopDomains | number" class="update-item value-{{node.totalTopDomains}}"></span></td>
                                <td><span ng-bind="node.totalDomains | number" class="update-item value-{{node.totalDomains}}"></span></td>
                                <td><span ng-bind="node.totalRequests | number" class="update-item value-{{node.totalRequests}}"></span></td>
                                <td title="{{node.lastRequestTime}}" am-time-ago="node.lastRequestTime"></td>
                            </tr>
                            <tr ng-repeat-end ng-if="!node.hidden && !dnsmasq.queriesOptions.expandAll">
                                <td colspan="7">
                                    <table class="table table-condensed table-bordered">
                                        <thead>
                                            <tr class="warning">
                                                <th sort-direction options="node" order-by="key" title="Top Domains"></th>
                                                <th sort-direction options="node" order-by="categories" title="Categories"></th>
                                                <th sort-direction options="node" order-by="totalDomains" title="Sub Domains"></th>
                                                <th sort-direction options="node" order-by="totalRequests" title="Requests"></th>
                                                <th sort-direction options="node" order-by="lastRequestTime" title="Last Time"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat-start="topdomain in node.records | filter:dnsmasq.queriesOptions.search | orderBy:node.orderBy:node.orderReverse" class="animate-row">
                                                <td>
                                                    <span toggle-hidden options="topdomain"></span>
                                                    <span ng-bind="topdomain.key"></span>
                                                </td>
                                                <td>
                                                    <ul class="list-inline" ng-repeat="category in topdomain.categories">
                                                        <li ng-class="category != 'adware' ? 'text-warning' : ''" ng-bind="category"></li>
                                                    </ul>
                                                </td>
                                                <td><span ng-bind="topdomain.totalDomains | number" class="update-item value-{{topdomain.totalDomains}}"></span></td>
                                                <td><span ng-bind="topdomain.totalRequests | number" class="update-item value-{{topdomain.totalRequests}}"></span></td>
                                                <td title="{{topdomain.lastRequestTime}}" am-time-ago="topdomain.lastRequestTime"></td>
                                            </tr>
                                            <tr ng-repeat-end ng-if="!topdomain.hidden">
                                                <td colspan="5">
                                                    <table class="table table-condensed">
                                                        <thead>
                                                            <tr>
                                                                <th sort-direction options="topdomain" order-by="domain" title="Domain"></th>
                                                                <th sort-direction options="topdomain" order-by="ipaddress" title="IP Address"></th>
                                                                <th sort-direction options="topdomain" order-by="resolver" title="Resolver"></th>
                                                                <th sort-direction options="topdomain" order-by="category" title="Category"></th>
                                                                <th sort-direction options="topdomain" order-by="totalRequests" title="Count"></th>
                                                                <th sort-direction options="topdomain" order-by="time" title="Last Time"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="animate-row"
                                                                ng-repeat="query in topdomain.records | orderBy:topdomain.orderBy:topdomain.orderReverse"
                                                                ng-class=" dnsmasq.isNonRoutableRequest(query) ? 'text-muted' : (query.resolver == 'cached' ? 'text-success' : '')">
                                                                <td ng-bind="query.domain"></td>
                                                                <td ng-bind="query.ipaddress"></td>
                                                                <td ng-bind="query.resolver"></td>
                                                                <td ng-bind="query.category"></td>
                                                                <td><span ng-bind="query.totalRequests" class="update-item value-{{query.totalRequests}}"></span></td>
                                                                <td title="{{query.time}}" am-time-ago="query.time"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <table class="table table-condensed table-bordered">
                <caption>
                    <a ng-click="dnsmasq.dataOptions.hidden = !dnsmasq.dataOptions.hidden"><span class="glyphicon" ng-class="dnsmasq.dataOptions.hidden ? 'glyphicon-triangle-right' : 'glyphicon-triangle-bottom'" aria-hidden="true"></span></a>
                    Raw Data: <span ng-bind="dnsmasq.dataOptions.count | number" title="Total number of processed lines"></span>
                    <span class="pull-right">
                        <a ng-click="dnsmasq.dataOptions.searchShow = !dnsmasq.dataOptions.searchShow" title="Search"><span class="glyphicon glyphicon glyphicon-search" aria-hidden="true"></span></a>
                        <input placeholder="search" ng-show="dnsmasq.dataOptions.searchShow" ng-model="dnsmasq.dataOptions.search" />
                        Limit: <span ng-bind="dnsmasq.data | keylength | number"></span>
                    </span>
                </caption>
                <thead ng-if="!dnsmasq.dataOptions.hidden">
                    <tr class="info">
                        <th>Time</th>
                        <th>Logger</th>
                        <th colspan="4">Message</th>
                    </tr>
                </thead>
                <tbody ng-if="!dnsmasq.dataOptions.hidden">
                    <tr ng-repeat="row in dnsmasq.data | filter:dnsmasq.dataOptions.search | orderBy:'+':true" class="animate-row">
                        <td title="{{row.time}}" am-time-ago="row.time"></td>
                        <td ng-bind="row.logger"></td>
                        <td ng-bind="row.messageSplits.length == 4 ? row.messageSplits[0] : row.message" colspan="{{row.messageSplits.length == 4 ? 0 : 4}}"></td>
                        <td ng-bind="row.messageSplits[1]" ng-if="row.messageSplits.length == 4"></td>
                        <td ng-bind="row.messageSplits[2]" ng-if="row.messageSplits.length == 4"></td>
                        <td ng-bind="row.messageSplits[3]" ng-if="row.messageSplits.length == 4"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>