@page
@model IndexModel
@{
    ViewBag.Title = "Viewer";

    var viewModel = new {
        dnsmasq = new {
            icons = LogMessageRelay.IconsStorage,
            vendors = LogMessageRelay.VendorsStorage,
            descriptions = LogMessageRelay.DescriptionsStorage,
            ignored = new { data = new string[] { "127.0.0.1" }.Concat(LogMessageRelay.GetFile("ignoredclients.txt")) },
            categoriesOptions = new { ignored = new { data = LogMessageRelay.GetFile("ignoredcategories.txt") } },
            settings = new {
                DomainName = "lan",
                NetworkPort = Startup.NETWORK_PORT,
                HostnameResolveUrl = "/api/Resolve/Hostname",
                GetDescriptionUrl = "/api/Resolve/Description",
                GetVendorInfoUrl = "/api/Resolve/Vendor",
                OldDataUrl = "/api/Resolve/Data"
            }
        },
        OldData = Request.Query // if the request is to include the log file, then supply it
        .Where(x => x.Key == "log" && x.Value == "true").Any() ? LogMessageRelay.OldData : null
    };
}

<div class="site-width"
     ng-controller="DnsmasqController"
     data-model="@Newtonsoft.Json.JsonConvert.SerializeObject(viewModel)">
    <partial name="_Dnsmasq" />
</div>

@section scripts {
    <script src="~/js/dnsmasq.js" asp-append-version="true"></script>
}

@section styles {
    <link rel="stylesheet" href="~/css/dnsmasq.css" asp-append-version="true" />
}