@page
@model IndexModel
@{
    ViewBag.Title = "Viewer";

    var viewModel = new {
        DomainName = "lan",
        HostnameResolveUrl = "/api/Resolve/Hostname",
        GetDescriptionUrl = "/api/Resolve/Description",
        dnsmasq = new { ignores = new string[] { "192.168.1.0" } },
        OldData = Request.Query // if the request is to include the log file, then supply it
        .Where(x => x.Key == "log" && x.Value == "true").Any()
        ? LogMessageRelay.OldData : null
    };
}

<div class="site-width"
     ng-controller="DnsmasqController"
     data-model="@Newtonsoft.Json.JsonConvert.SerializeObject(viewModel)">
    <partial name="_Dnsmasq" />
</div>

@section scripts {
    <script src="~/js/dnsmasq.js" asp-append-version="true"></script>
}

@section styles {
    <link rel="stylesheet" href="~/css/dnsmasq.css" asp-append-version="true" />
}