.dnsmasq .animate-row {
    background-color: transparent;
    transition: background-color 1s linear 0s;
}

    .dnsmasq .animate-row.ng-enter {
        background-color: sandybrown;
    }

.dnsmasq .update-item {
    background-color: transparent;
    transition: background-color 0.26s linear 0s;
}

    .dnsmasq .update-item[class*="-add"] {
        background-color: yellow;
    }

.dnsmasq table td {
    word-break: break-all;
}

.dnsmasq .description {
    max-width: 400px;
}

.dnsmasq .categories {
    max-width: 200px;
}

.dnsmasq .fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.dnsmasq .fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}