.dnsmasq .animate-row {
    background-color: transparent;
    transition: background-color 1s linear 0s;
}

    .dnsmasq .animate-row.ng-enter {
        background-color: sandybrown;
    }

.dnsmasq .update-item {
    background-color: transparent;
    transition: background-color 0.26s linear 0s;
}

    .dnsmasq .update-item[class*="-add"] {
        background-color: yellow;
    }

.dnsmasq table td {
    word-break: break-all;
}

.dnsmasq .description {
    max-width: 400px;
}